
#angulas-secret-friend ignore

# compiled output
/angular-secret-friend/dist
/angular-secret-friend/tmp
# dependencies
/angular-secret-friend/node_modules
# IDEs and editors
/angular-secret-friend/.idea
/angular-secret-friend/.project
/angular-secret-friend/.classpath
/angular-secret-friend/.c9/
/angular-secret-friend/*.launch
/angular-secret-friend/.settings/
# misc
/angular-secret-friend/.sass-cache
/angular-secret-friend/connect.lock
/angular-secret-friend/coverage/*
/angular-secret-friend/libpeerconnection.log
/angular-secret-friend/npm-debug.log
/angular-secret-friend/testem.log
/angular-secret-friend/typings
# e2e
/angular-secret-friend/e2e/*.js
/angular-secret-friend/e2e/*.map
#System Files
/angular-secret-friend/.DS_Store
/angular-secret-friend/Thumbs.db
